{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Bienvenue sur Todo List</h1>
	<p>L'application vous permettant de gérer l'ensemble de vos tâches sans effort !</p>
{% endblock %}

{% block body %}

	<div class="row">
		{% if is_granted('ROLE_USER') %}
			<a href="{{ path('task_create') }}" class="btn btn-success">Créer une tâche</a>
			<a href="{{ path('tasks', {done: 0}) }}" class="btn btn-info">Tâches à faire</a>
			<a href="{{ path('tasks', {done: 1}) }}" class="btn btn-secondary">Tâches terminées</a>

		{% else %}
			<p>Pour consulter les tâches, merci de vous
				<a href="{{ path('login') }}">connecter</a>
			</p>
		{% endif %}
		<hr>
		<p><img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list"></p>

	</div>
{% endblock %}
